body {background-color: black;
}
#Karate {border-width: 4px;
border-color: whitesmoke ;
border-style: groove;
}
#Karate {margin-left: 27%;
}
h1 {margin-left: 40%;
 color: white;
}
#Karate {width: 45%;
}
